<!--<ul class="heroes">-->
  <!--<li>-->
    <!--<app-user-followed></app-user-followed>-->
  <!--</li>-->


  <!--<li *ngFor="let hero of heroes">-->
    <!--<span class="badge">{{hero.id}}</span> {{hero.title}}-->
  <!--</li>-->
<!--</ul>-->
<mat-card class="mat-elevation-z0" *ngIf="(isLoggedUser) || followedUsersList.indexOf(userDisplayed.id)>-1">

<div class="grid_div">
  <img src="{{userDisplayed.image}}"
       class="card-image img-responsive" style="max-width: 100px; max-height: 100px; width:100%;height: 100%">
  <h2 class="post_title">{{userDisplayed.username}}</h2>
  <p id="userHeadline">{{userDisplayed.status}}</p>
  <button name="unfollowButton" *ngIf="!(isLoggedUser)" type="button" class="stop_button" (click)="unfollow()">Unfollow</button>

  <input *ngIf="isLoggedUser" [(ngModel)]="inputHeadline" style="width: 100%" type="text">

  <button name="updateButton" *ngIf="isLoggedUser" type="button" class="stop_button" (click)="updateHeadline()">Update</button>
</div>

</mat-card>




