<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="2">

    <div style="display: block">
      <div><input type="file" id="mapSelector"></div>
      <div style="margin:5px">
        <button type="button" class="stop_button" (click)="cancel()">Cancel</button>
      </div>

    </div>
    <div style="margin: 5px">
        <textarea id="textarea" rows="4" cols="50" class="wholeWidth">
          Input your post here!
        </textarea>
      <button type="button" class="stop_button" (click)="post()">Post</button>

    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <img src="https://s1.ax1x.com/2018/10/06/i8bEkD.png" style="width: 100%">
  </mat-grid-tile>
</mat-grid-list>
