<div>
<form  #logForm="ngForm" (ngSubmit)="onSubmit(logForm)" novalidate >
  <label>user name*:</label>
  <input ngModel name="username" required   #UsernameValue="ngModel"  pattern="^[a-zA-Z][a-zA-Z0-9]*$"><br>
  <div class="alert" [hidden]=" (UsernameValue.valid && UsernameValue.value!=='' ) || UsernameValue.pristine" >
    Please only use letter and number as username and start with letter
  </div>
  <br>


  <label>email address*:</label>
  <input ngModel name="email" required placeholder="a@b.com" #EmailValue="ngModel"  pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"><br>
  <div class="alert" [hidden]="EmailValue.valid || EmailValue.pristine">
    Please enter valid email
  </div>
  <br>




  <label>phone number*:</label>
  <input ngModel name="phone" required placeholder="123-123-1234" #PhoneValue="ngModel"  pattern="^\d{3}-\d{3}-\d{4}$"><br>
  <div class="alert" [hidden]="PhoneValue.valid || PhoneValue.pristine">
    Please enter valid phone number
  </div>
  <br>






  <label>zipcode*:</label>
  <input ngModel name="zipcode" required  type="text" placeholder="00000"  #ZipcodeValue="ngModel"  pattern="^\d{5}$"   ><br>
  <div class="alert" [hidden]="ZipcodeValue.valid || ZipcodeValue.pristine">
    Please enter valid zipcode
  </div>
  <br>





  <label>password:</label>
  <input ngModel name="password" type="password"required  #PasswordValue="ngModel"><br>

  <button  [disabled]="!logForm.valid && !logForm.pristine">Submit</button>
  <!--<button >Submit</button>-->
  <!--<button (click)="onSubmit()">Submit</button>-->
</form>
</div>
