<div>
  <h2>
    Login
  </h2>
  <!--<h2>username: {{currentUser.username | uppercase}} </h2>-->
  <!--<div><span>password: </span>{{currentUser.password}}</div>-->
  <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)" novalidate>
    <label>name:</label>
    <input ngModel name="Username" autocomplete="on" required #UsernameValue="ngModel" pattern="^[a-zA-Z][a-zA-Z0-9]*$"><br>
    <div class="alert" [hidden]="UsernameValue.value!== ''">
      Please input username
    </div>

    <label>password:</label>
    <input ngModel name="Password" type="password" autocomplete="on" required #PasswordValue="ngModel"><br>
    <div class="alert" [hidden]="PasswordValue.value!== ''">
      Please input password
    </div>
    <button name="submitButton">Submit</button>


    <div class="login_error" [hidden]="!loginError">
      There is no such user or the password is not correct
    </div>


  </form>
</div>
