/*.ng-valid[required] {*/
  /*border-left: 5px solid #42A948; !* green *!*/
/*}*/

/*.ng-invalid {*/
  /*border-left: 5px solid #a94442; !* red *!*/
/*}*/
div {
  /*margin:0px auto;*/
  /*width:300px;*/
  height:50px;
  /*background-color:red;*/
  text-align:center;
  /*font-size:32px;*/
  /*color:white;*/
}
