<div>
  <h2>
    Registration
  </h2>
  <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)" novalidate>
    <label>user name*:</label>
    <input ngModel name="Username"  autocomplete="on" required #UsernameValue="ngModel" pattern="^[a-zA-Z][a-zA-Z0-9]*$"><br>
    <div class="alert" [hidden]="UsernameValue.valid || UsernameValue.pristine">
      Please only use letter and number as username and start with letter
    </div>
    <br>


    <label>email address*:</label>
    <input ngModel name="email" autocomplete="on" required placeholder="a@b.com" #EmailValue="ngModel"
           pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"><br>
    <div class="alert" [hidden]="EmailValue.valid || EmailValue.pristine">
      Please enter valid email
    </div>
    <br>


    <label>phone number*:</label>
    <input ngModel name="phone" autocomplete="on" required placeholder="123-123-1234" #PhoneValue="ngModel" pattern="^\d{3}-\d{3}-\d{4}$"><br>
    <div class="alert" [hidden]="PhoneValue.valid || PhoneValue.pristine">
      Please enter valid phone number
    </div>
    <br>


    <label>date of birth*:</label>
    <input ngModel name="birthday" autocomplete="on" required type="date" #BirthdayValue="ngModel"><br>
    <div class="alert" [hidden]="BirthdayValue.valid || BirthdayValue.pristine">
      Please enter valid date of birth
    </div>
    <br>


    <label>zipcode*:</label>
    <input ngModel name="zipcode" autocomplete="on" required type="text" placeholder="00000" #ZipcodeValue="ngModel"
           pattern="^\d{5}$"><br>
    <div class="alert" [hidden]="ZipcodeValue.valid || ZipcodeValue.pristine">
      Please enter valid zipcode
    </div>
    <br>


    <label>password:</label>
    <input ngModel name="Password" type="password" autocomplete="on" required #PasswordValue="ngModel"><br>

    <label>password confirmation*:</label>
    <input ngModel name="passwordConfirmation" type="password" autocomplete="on" required #PasswordConfirmValue="ngModel"><br>
    <div class="alert" *ngIf="PasswordValue.value !== PasswordConfirmValue.value">
      Password and password confirmation doesn't equal
    </div>

    <button>Submit</button>
    <!--<button (click)="onSubmit()">Submit</button>-->
  </form>
</div>
