

.example-container {
  width: 100%;
  height: 900px;
  border: 1px hidden rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 150px;
  padding: 20px;
  border: 1px solid
}
.demo-panel {
  margin: 30px;
}
hr {
  display: block;
  border-width: 3px;
}

mat-card {
  border: hidden;
}

mat-card-content{
  border: hidden;
}
/*mat-grid-tile {*/
  /*background: lightblue;*/
/*}*/


