<div class="demo-panel  ">
  <mat-sidenav-container class="example-container" class="mat-elevation-z0">

    <mat-sidenav opened mode="side" class="example-sidenav">
      <!--<h2>Followed Users</h2>-->
      <nav>
        <ul>
          <li><a class="logOut_Button" routerLink="/auth" (click)="logout()">Log Out</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        </ul>
      </nav>
      <app-following *ngIf="loginUser"  [userDisplayed]="loginUser" [isLoggedUser]="true"  (updateHeadlineEvent)="updateLoginUserHeadline($event)" style="width: 100%">
      </app-following>


        <hr>
      {{title}}
        <hr>
        <app-following *ngFor="let user of allUsers" [userDisplayed]="user" [isLoggedUser]="false"  [(headline)]="title"  >
        </app-following>

      <br>

      <input  name="followerInput"  [(ngModel)]="inputFollowedName" style="width: 100%" type="text">

      <button name="addButton" type="button" class="stop_button" (click)="addFollowedUser()">Add</button>
      <div class="addFollowerMsg"  >{{addFollowerMsg}}</div>
    </mat-sidenav>





    <mat-card class="example-container" class="mat-elevation-z0">

      <mat-card-content class="mat-elevation-z0">
        <app-headline></app-headline>
        <app-posts></app-posts>

      </mat-card-content>
    </mat-card>

  </mat-sidenav-container>

</div>

