
mat-card {
  width: 100%;
  height: 100%;
}

mat-grid-list {
  border: hidden;
}

mat-card-actions {
  alignment: center;
}

/*.one-line {*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
/*}*/
