<mat-form-field class="search-form " style="  width: 100%;">
  <input [(ngModel)]="searchText" matInput placeholder="Search Post" type="text">
</mat-form-field>

<br>
<br>

<button name="searchPostButton" button="submit" (click)="filter()" mat-raised-button color="primary">Search</button>


<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile role="list" *ngFor="let article of filteredArticles ">

    <mat-card class="container">
      <mat-card>
        <mat-card-title class="block-heading cleafix">{{article.author}}</mat-card-title>
        <mat-card-subtitle> at {{article.timeStamp}}</mat-card-subtitle>
        <img class="block-body" mat-card-image src="{{article.image}}" class="card-image" style="height: 50%">
        <mat-card-content>
          <div class="one-line">{{article.text}}</div>
          <mat-card class="mat-elevation-z0" style="max-height: 100%; height: 100%; border: hidden;  bottom: 0px; margin: 0px; display: float;">
            <mat-card-title>comments</mat-card-title>
            <mat-card-content>
          <textarea id="textarea" class="wholeWidth" style="height: 100%; width: 100%">
          This is a good post.
          </textarea>
            </mat-card-content>
            <mat-card-actions>
              <button type="button" class="stop_button">Edit</button>
            </mat-card-actions>
            <mat-card-actions>
              <button type="button" class="stop_button">Comment</button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
