<div>
  <div class="current-username">Username: {{loginUser.username}}</div>
  <div class="current-email">Email: {{loginUser.email}}</div>
  <div class="current-phone">Phone: {{loginUser.phone}}</div>
  <div>Birthday: {{loginUser.birthday}}</div>
  <div>Zipcode: {{loginUser.zipcode}}</div>
</div>
